/* link: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Brug en mere intuitiv box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Fjern standard margin */
* {
	margin: 0;
}

body {
	/* 3. Tilføj tilgængelig linjehøjde */
	line-height: 1.5;
	/* 4. Forbedr tekstgengivelsen */
	-webkit-font-smoothing: antialiased;
}

/* 5. Forbedr standardindstillinger for medier */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Arv skrifttyper for formularfelter */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Undgå tekstoverløb */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Forbedr linjeopdeling */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Opret et root stacking context
  */
#root,
#__next {
	isolation: isolate;
}
