@import './base.scss';

/* ─── Body Styles ───────────────────────────── */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cta-button-hover-background);
  margin: 1vh;
}

/* ─── Base Layout Styles ────────────────────── */
.base-container {
  border-radius: 4px;
  background-color: var(--primary-color);
}